*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.main1{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/04ef06cc-5f81-4a8e-8db0-6430ba4af286/web/BD-en-20250224-TRIFECTA-perspective_96f226d1-0caa-4006-b217-49b59f2f881d_large.jpg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.nav{
    /* position: absolute; */
}

.cover{
    background: #000000c8;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    gap: 50rem;
    /* align-items: center; */
    position: relative;
}



.main1 .nav .logo{
    margin: 2vw;
    width: 10vw;
    height: 10vh;

    
}

.btn{
    height: 4vh;
    width: 10vh;
    margin: 1.5vw;
    color: white;
    background: red;
    border-radius: 0.3vw;
    font-size: 0.9vw;
    font-weight: 700;
    border: none;
}
.btn i{
    display: none;
}

.text1{
    /* background: red; */
    margin-top: 17vw;
    
    position: absolute;
    color: aliceblue;
    font-size: 3vw;
    font-family: poppins;
    font-weight: 700;
}
.text2{
    /* background: red; */
    margin-top: 22vw;
    
    position: absolute;
    color: aliceblue;
    font-size: 2.5vw;
    font-family: poppins;
    font-weight: 800;
}
.text3{
    /* background: red; */
    margin-top: 27vw;
    
    position: absolute;
    color: aliceblue;
    font-size: 1.2vw;
    /* font-family: poppins; */
    font-weight: 800;
}
.text4{
    /* background: red; */
    margin-top: 30vw;
    
    position: absolute;
    color: aliceblue;
    font-size: 1.5vw;
    /* font-family: poppins; */
    font-weight: 500;
}

.input_button{
    position: absolute;
    margin-top: 72vh;
    display: flex;
    justify-content: center;
}


.input{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 5vw;

}

.input input{

    font-size: 1.5vw;
    font-weight: 600;

    border: 0.5vw solid rgba(0, 0, 0, 0.663) ;
    width: 28vw;  
    height: 8vh;
    margin-right: 15vw;
    background: transparent;  
}

.btn2{
    margin-left:23vw;
    width: 12vw;
    height: 3.7vw;
    background: red;
    font-size: 1.5vw;
    font-weight: 600;
    color: aliceblue;
    border: none;
    border-radius: 0.5vw;
    
}
.btn2 i{
    font-size: 1.5vw;
    font-weight: 100;
    /* padding: 2px; */

}

@media (max-width:1500px) {
    .btn{
        height: 5vh;
        width: 9vh;
        margin: 1.5vw;
        color: white;
        background: rgb(255, 0, 0);
        border-radius: 0.3vw;
        font-size: 1.5vw;
        font-weight: 700;
        border: none;
    }
@media (max-width:1030px) {
    .btn{
        display: none;
    }
    .btn i{
        display: block;
    }
    
    
}